[variables]
  NPM_CONFIG_UPDATE_NOTIFIER = 'false'
  NPM_CONFIG_FUND = 'false'

[phases.setup]
  nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
  dependsOn = ["setup"]
  cmd = "pnpm i --frozen-lockfile || npm ci"

[phases.build]
  dependsOn = ["install"]
  cmd = "pnpm build || npm run build"

[phases.caddy]
  dependsOn = ["build"]
  nixpkgsArchive = "ba913eda2df8eb72147259189d55932012df6301"
  nixPkgs = ["caddy"]

[start]
  cmd = "exec caddy run --config Caddyfile --adapter caddyfile 2>&1"
